.loader img {
    animation: loaderPig 3s 0s infinite linear;
}

.loader__body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../images/background.png');
}

@keyframes loaderPig {
    from {
        width: 50px;
        height: 50px;
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        width: 100px;
        height: 100px;
    }
}