.create-post {
    min-height: 100vh;
    background-image: url('../images/background.png');
    padding: 0 10px 20px;
}

.create-post__body {}

.create-post__form {}

.create-post header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    height: 58px;
}

.create-post__container {
    padding-top: 100px;
    max-width: 1200px;
    margin: 0px auto;
}

.create-post__body-container {
    display: flex;
    justify-content: space-between;
}

.create-post__title-form {
    text-transform: capitalize;
    font-size: 25px;
    font-family: Roboto;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.create-post__create-block {
    padding: 20px;
    background: rgb(240, 240, 240);
    border-radius: 16px;
    flex: 0 1 50%;
    margin-right: 20px;
}

.create-post__preview-title-block {
    text-transform: lowercase;
    font-size: 18px;
    font-family: Roboto;
    margin-bottom: 20px;
    padding-left: 30px;
    opacity: 0.5;
    font-weight: 700;
    display: none;
}

@media (max-width: 750px) {
    .create-post__body-container {
        flex-direction: column;
        max-width: 580px;
        margin: 0 auto;
    }

    .create-post__create-block {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .create-post__preview-title-block {
        display: block;
    }
    .create-post__title-image{
        display: none;
    }
    .create-post__remove-image-button{
        display: none !important;
    }
    .create-post__title-image-mobile{
        display: block !important;
    }
    .create-post__remove-image-button-mobile{
        display: block !important;
    }
    .create-post__send-button{
        border-radius: 10px;
    }
}

@media (max-width: 450px) {
    .create-post__preview-image{
        padding-bottom: 300px !important;
    }
}
@media (max-width: 360px) {
    .create-post__create-block{
        margin-bottom: 20px !important;
    }
}
.create-post__preview-block {
    padding: 20px;
    background: rgb(240, 240, 240);
    border-radius: 16px;
    flex: 0 1 50%;
}

.create-post-input {
    border: 2px solid rgb(200, 200, 200);
    padding: 10px 10px;
    width: 100%;
    font-size: 20px;
    background: rgb(240, 240, 240);
}

.create-post__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 12px;
}

.create-post__title-title {
    margin-bottom: 5px;
}

.create-post__title-input {}

.create-post__body {
    margin-bottom: 20px;
}

.create-post__title-body {
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.create-post__body-input {
    resize: none;
    height: 20vh;
    overflow: hidden;
}

.create-post__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-post__image {}

.create-post__title-image {
    background: rgb(180, 180, 180);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Roboto;
    padding: 5px;
    margin-right: 5px;
}

.create-post__left-buttons {
    display: flex;
    justify-content: space-between;
}

.create-post__remove-image-button {
    display: flex;
    align-items: center;
    padding: 5px;
    background: rgb(97, 151, 97);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Roboto;
    cursor: pointer;
}

.create-post__send-button {
    cursor: pointer;
    background: red;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Roboto;
    line-height: 30px;
    padding: 0 20px;
}

.create-post__file-input {
    display: none;
}

.create-post__preview-title {
    font-weight: 580px;
    font-size: 20px;
    text-transform: lowercase;
    max-width: 600px;
    margin-bottom: 10px;
}

.create-post__preview-title::first-letter {
    text-transform: uppercase;
}

.create-post__preview-body {
    overflow-wrap: break-word;
    max-width: 600px;
    margin-bottom: 20px;
    text-transform: lowercase;
    font-family: Roboto;
    line-height: 20px;
    font-size: 16px;
}

.create-post__preview-body::first-letter {
    text-transform: uppercase;
}

.create-post__preview-image {
    position: relative;
    padding-bottom: 400px;
}

.create-post__preview-image img {
    position: absolute;
    border-radius: 16px;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.create-post__preview-image img {
    max-width: 540px;
    max-width: 540px;
}

.create-post__title-image-mobile {
    border-radius: 50%;
    display: none;
}

.create-post__title-image-mobile img {
    padding: 3px;
    width: 30px;
    height: 30px;
}
.create-post__remove-image-button-mobile{
    display: none;
    border-radius: 50%;
}
.create-post__remove-image-button-mobile img{
    width: 30px;
    height: 30px;
    padding: 3px;
}