.feed{
    min-height: 100vh;
    background-image: url('../images/background.png');
}

.feed.exists{
    padding-top: 50px;
}
.feed__body{
    
}
.feed__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.feed.exists header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    height: 58px;
}

.feed__container > .posts-not-found{
    margin-top: 50px;
}