.post-page{
    background-image: url('../images/background.png');
    min-height: 100vh;
    padding-bottom: 20px;
}

.post-page__container{
    padding: 80px 20px 10px;
    max-width: 700px;
    margin: 0px auto;
}

.post-page header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    height: 58px;
}