.registration {
    padding: 150px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: rgb(233, 233, 233);
}

.registration header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 58px;
    z-index: 5;
    background: #fff;
}

.registration__container {}

.registration__form-body {
    display: flex;
    justify-content: space-between;
}

.registration__form-panel {
    
}

.registration input {
    min-width: 250px;
    padding: 10px;
}

.registration__body {
    min-width: 350px;
    
}

.registration__title {
    text-align: center;
    margin-bottom: 35px;
    font-family: Roboto;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.registration__form {
    text-align: center;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration__linkname {
    margin-bottom: 40px;
}

.registration__linkname input {
    
}

.registration__login {
    margin-bottom: 20px;
}

.registration__login input {}

.registration__password {
    margin-bottom: 20px;
}

.registration__password input {}

.registration__button {}

.registration__login-error {

}

.registration__password-error {

}

.registration__linkname-error {

}

.registration__input{
    border-bottom: 1px solid rgb(134, 133, 133);
}

button {
    align-self: center;
    border-radius: 16px;
    font-size: 16px;
    width: 50%;
}
.error-valid-form{
    margin-top: 2px;
    text-align: start;
    padding-left: 5px;
    color: red;
}
.registration__image-slash{
    margin-top: 5px;
}
.registration__error-exists-form{
    padding-left: 5px;
    text-align: start;
    color: red;
}

.notification__text{
    margin-right: 10px;
    max-width: 300px;
    line-height: 25px;
}