.sub-item {
    padding: 5px;
}
.sub-item:hover{
    background: rgb(233, 233, 233);
    cursor: pointer;
}
.sub-item__avatar {
    margin-bottom: 5px;
}
.sub-item__avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(134, 134, 134);
}
.sub-item__nickname {
    text-align: center;
    text-transform: lowercase;
}
.sub-item__nickname::first-letter{
    text-transform: uppercase;
}