.user-not-found{
    background-image: url('../images/background.png');
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-not-found__body {
    display: flex;
    justify-content: space-between;
}
.user-not-found__image-body {
    margin-right: 20px;
}
.user-not-found__image {
    height: 105px;
}
.user-not-found__text-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.user-not-found__title {
    font-size: 30px;
    font-weight: 900;
    font-family: Roboto;
    margin-bottom: 5px;
    color: #414040;
}
.user-not-found__text {
    text-transform: uppercase;
    font-size: 20px;
    color: #414040;
}

.user-not-found header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    height: 58px;
}