.user-info{
    background-image: url('../images/background.png');
    min-height: 100vh;
}
.user-info__container{
    padding: 20px 0;
    margin: 0px auto;
    max-width: 1200px;
}
.user-info__body{
    
}

.user-info header{
    background: #fff; 
}